m3-top-app-bar {
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0 2vw;
  animation: app-bar-enter var(--motion-duration-long) var(--motion-easing-decelerate) backwards;
}

@media (max-width: 599px) {
  m3-top-app-bar {
    padding: env(safe-area-inset-top) 0 0;
  }
}
